
.main {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 4.5em;
    margin-bottom: 4em;
}

label{
    margin-top:1em ;
    margin-bottom: 0.5em;
    font-size: 23px;
}


input {
    background: #ffffff;
    border-width: 2px;
    border-style: solid;
    width: 500px;
    border-color: #d9d9d9;
    box-sizing: border-box;
    margin: 0;
    padding: 12px 12px 12px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 20px;
    line-height: 1;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    transition: border 0.2s, box-shadow 0.2s, background 0.2s;
    outline: none;
}
input:focus{
    border: 2px solid #036EB4;
}


.select-block {
    margin-right: 4.5em;
    display: flex;
    flex-direction: column;
    position: relative;
}

select{
    font-size: 20px;
}
.btn{
    position: absolute;
    right: 0;
    bottom: -5em;
    border-radius: 10px;
    background: white;
    border: solid 2px #d9d9d9;
    padding: 7px 10px;
}
.btn:hover{
    border: 2px solid #036EB4;
}